doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
p
  | Welcome! If you are the host, please visit ./host, if you are a client, please visit ./client
script
  | var port= '#{port}'
script(src="./../index-test.js")
