doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Collaborative Online Music - Server
| hello server
h1= port
script
  | var port="#{port}"
  | var wss="#{wss}"
script(src='./../dist/bundle-server.js')