<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style/client-style.css">
        <title>Collaborative Online Music - Client</title>
    </head>
    <body>
        <h1>Welcome Client: <span id="clientIDText"></span></h1>
        <textarea id="serverMessageTextArea" rows="1" cols="150"></textarea>
        <br>
        <h2>Metronome</h2>
        <button id="stopMetronomeButton">Stop Metronome</button>
        <button id="muteMetronomeButton">Mute/Unmute</button>
        <br>
        <div id="metronomeIconsContainer"></div>
        <br>
        <video autoplay></video>
        <br>
        <input type="file" id="fileInput" onchange="sendFile()"/>
    </body>
    <script src="./../../dist/bundle-client.js" type="text/javascript"></script>
</html>