<!DOCTYPE html>
<html>
    <head>
        <title>Collaborative Online Music - Client</title>
    </head>
    <body>
        <h1>Welcome Client: <span id="clientIDText"></span></h1>
        <textarea id="serverMessageTextArea" rows="1" cols="150"></textarea>
        <br/>
        <button onclick="sendMessage()">Send Msg</button>
        <input type="file" id="fileInput" onchange="sendFile()"/>
        <br/>
        <video controls autoplay></video>
    </body>
    <script src="./../../dist/bundle-client.js" type="text/javascript"></script>
</html>