<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/client-style.css">
        <title>Collaborative Online Music - Host</title>
    </head>
    <body>
        <h1>Welcome Host: <span id="hostIDText"></span></h1>
        <br>
        <h2>Metronome</h2>
        bpm:<input type="number" id="bpmInput" min="0" size="5" placeholder="80"/>
        <br>
        beat: nominator  : <input type="number" id="nominatorInput" min="0" size="5" placeholder="3"/>
        <br>
        beat: denominator: <input type="number" id="denominatorInput" min="0" size="5" placeholder="4"/>
        <br>
        <button onclick="startMetronome()">Start Metronome</button>
        <button id="stopMetronomeButton">Stop Metronome</button>
        <button id="muteMetronomeButton">Mute/Unmute</button>
        <br>
        <div id="metronomeIconsContainer"></div>
        <br>
        <h2>Start Sounds</h2>
        start sounds: <input id="startSoundsInput" placeholder="d4, f#4, a4, c3"/>
        <button onclick="saveStartSounds()">Save Start Sounds</button>
        <br>
        <br>
        <h2>Broadcast Actions</h2>
        <button onclick="sendBroadcastStart()">Broadcast: Start</button>
        <button onclick="sendBroadcastStop()">Broadcast: Stop</button>
        <br>
        <br>
        <h2>Prepare Merging</h2>
        <button onclick="prepareMergingVideos()">Prepare Merging Videos</button>
        <h2>Merging Strategies</h2>
        <button onclick="applyMergingStrategyRecordingStart()">Merging Strategy: Recording Start</button>
        <button onclick="applyMergingStrategyMetronomeStart()">Merging Strategy: Metronome Start</button>
        <button onclick="applyMergingStrategySingingStart()">Merging Strategy: Singing Start</button>
        <button onclick="applyMergingStrategyAudioPeak()">Merging Strategy: Audio Peak</button>
        <h2>Merging Videos</h2>
        <button onclick="mergeVideos()">Merge Videos</button>
    </body>
    <script src="./../../dist/bundle-host.js" type="text/javascript"></script>
</html>