.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.dot-active {
    height: 25px;
    width: 25px;
    background-color: rgb(17, 128, 23);
    border-radius: 50%;
    display: inline-block;
}