doctype html
head
  link(rel='stylesheet' href='../style/client-style.css')
  link(rel='stylesheet' href='./css/bootstrap.min.css')
  title Collaborative Online Music - Client
h1
  | Welcome Client: 
  span#clientIDText
textarea#serverMessageTextArea(rows='1' cols='150')
br
h2 Metronome
button#stopMetronomeButton Stop Metronome
button#muteMetronomeButton Mute/Unmute
br
#metronomeIconsContainer
br
video(autoplay='')
br
h2 File Upload
input#fileInput(type='file' onchange='sendFile()')
.toast
  .toast-header
    | Client Message
  .toast-body
    |
script
  | var localAddress="#{localAddress}"
script(src='./js/popper.min.js' type='text/javascript')
script(src='./js/bootstrap.min.js' type='text/javascript')
script(src='./js/jquery.min.js' type='text/javascript')
script(src='./../../dist/bundle-client.js' type='text/javascript')
